/* --------------- CLASSES --------------- */

html, * {
    color-scheme: var(--color-scheme, purple);
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

body {
    font-family: var(--font-standard);

    background-color: var(--background-standard, purple);
    color: var(--text-colored, purple);
}

.link {
    color: var(--text-link, purple);
    text-decoration: none;
    transition: color var(--transition-slow);

    &:hover {
        text-decoration: underline;
        color: color-mix(in srgb, var(--text-link, purple) 60%, white)
    }
}

.group {
    background-color: var(--background-group, purple);
    border: 2px solid var(--border-group, purple);
    border-radius: 10px;

    color: var(--text-neutral, purple);

    padding: 15px;

    box-shadow:
        inset 0 0 8px rgba(0, 0, 0, 0.35),
        0 3px 5px rgba(0, 0, 0, 0.35);
}

.board {
    background-color: var(--background-wood, purple);
    border: 5px solid var(--border-wood, purple);

    border-radius: 7px;

    color: var(--text-colored, purple);

    box-shadow:
        inset 1px 1px 2px 2px var(--wood-shadow, purple),
        inset -1px -1px 2px 2px var(--wood-shadow, purple),
        3px 3px 6px rgba(0, 0, 0, 0.45);
}

.boardCenter {
    text-align: center;
}

.emoji {
    font-family: 'Noto Color Emoji', sans-serif;
    margin-right: 5px;
}

small {
    opacity: 60%;
}

sub {
    font-style: italic;
}

.loading-bar {
    height: 4px;
    width: 100%;
    position: fixed;
    margin: 0; border-radius: 0;
    padding: 0;
    top: 0;
    z-index: 100;
    transition: var(--transition-standard);
}

.loading-bar.is-complete {
    opacity: 0;
}

#wrapper-header-main, #wrapper-aside {
    transition: transform var(--transition-standard);
}

/* --------------- @MEDIA --------------- */

@media only screen and (max-width: 768px) {
    #wrapper-header-main {
        transform: translateX(-150%);
        transition: transform var(--transition-slow);
    }

    #wrapper-aside {
        transform: translateX(150%);
        transition: transform var(--transition-slow);
    }

    #wrapper-header-main.active {
        transform: translateX(0);
    }

    #wrapper-aside.active {
        transform: translateX(0);
    }
}
