* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    width: 100%;
    min-height: 100dvh;
    display: grid;
    align-items: start;

    grid-template-rows: minmax(0, 1fr) auto;
    grid-template-areas:
    "container"
    "footer";
}

.container {
    max-width: 100%;
    width: 100%;
    grid-area: container;
    display: grid;
    grid-template-columns: 225px minmax(0, 1fr) 225px;
    grid-template-areas:
    "wrapper-header-main main wrapper-aside";
}

#wrapper-header-main {
    display: flex;
    overflow: visible;
    z-index: 3;

    #header-main {
        min-width: 225px;
        overflow: auto;
        contain: size;
    }

    .button-close {
        width: 50px;
        min-width: 50px;
        height: 50px;
        position: fixed;
        left: 225px;
        display: none;
    }

    top: 0;
    min-height: 92dvh;
    max-height: 100dvh;
    position: sticky;
    grid-area: wrapper-header-main;
}

#wrapper-aside {
    display: flex;
    overflow: visible;
    z-index: 3;

    #aside {
        min-width: 225px;
        overflow: auto;
        contain: size;
    }

    .button-close {
        width: 50px;
        min-width: 50px;
        height: 50px;
        position: fixed;
        right: 225px;
        display: none;
    }

    top: 0;
    min-height: 92dvh;
    max-height: 100dvh;
    position: sticky;
    grid-area: wrapper-aside;
}

#header-sub {
    grid-area: header-sub;
    display: none;
}

main {
    z-index: 1;
    grid-area: main;
}

footer {
    height: auto;
    min-height: max(54px, 8dvh);
    z-index: 4;
    grid-area: footer;
}

/* Smartphones (600px para baixo) */
/* @media only screen and (max-width: 600px) {
    h1 {
        background-color: red;
    }
} */

/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
/* @media only screen and (min-width: 600px) {
    h1 {
        background-color: orange;
    }
} */

/*Dispostivos Médios (Tablets deitados, 768px para cima) */
/* @media only screen and (min-width: 768px) {
    h1 {
        background-color: yellow;
    }
} */

/* Dispostivos Largos (laptops/desktops, 992px para cima) */
/* @media only screen and (min-width: 992px) {
    h1 {
        background-color: green;
    }
} */

/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
/* @media only screen and (min-width: 1200px) {
    h1 {
        background-color: blue;
    }
} */

@media only screen and (max-width: 768px) {
    #wrapper-header-main {
        z-index: 5;
        height: 100dvh;
        min-height: 100dvh;
        height: 100dvh;
        max-height: 100dvh;
        position: fixed;
        top: 0;

        .button-close {
            display: block;
        }
        #header-main {
            height: 100dvh;
            min-height: 100dvh;
            height: 100dvh;
            max-height: 100dvh;
        }
    }

    #wrapper-aside {
        z-index: 5;
        height: 100dvh;
        min-height: 100dvh;
        height: 100dvh;
        max-height: 100dvh;
        position: fixed;
        right: 0;
        top: 0;

        .button-close {
            display: block;
        }
        #aside {
            height: 100dvh;
            min-height: 100dvh;
            height: 100dvh;
            max-height: 100dvh;
        }
    }

    .container {
        grid-template-columns: minmax(0, 1fr);
        grid-template-areas:
            "header-sub"
            "main";
    }

    #header-sub {
        min-height: 10dvh;
        display: flex;
    }

    main {
        min-height: 82dvh;
    }
}