<aside id="aside" class="scroll">
	<h2 class="board boardCenter">Latest News:</h2>
	<ul>
		<li>
			<article class="group">
				<img class="icon" src="/assets/placeHolder2x2.webp" alt="a" width="50" height="50">
				<h3 class="title tooltip">News 1</h3>
				<span class="date">01 January 2026</span>

				<!-- 1 content -->


				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>


				<!-- 1 content -->

				<button class="popup-button" onclick="openArticle('art1')">Read more →</button>
			</article>
		</li>
		
		<li>
			<article class="group">
				<img class="icon" src="/assets/placeHolder2x2.webp" alt="a" width="50" height="50">
				<h3 class="title tooltip">News 2</h3>
				<span class="date">01 January 2026</span>

				<!-- 2 content -->


				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>


				<!-- 2 content -->

				<button class="popup-button" onclick="openArticle('art2')">Read more →</button>
			</article>
		</li>
					
		<li>
			<article class="group">
				<img class="icon" src="/assets/placeHolder2x2.webp" alt="a" width="50" height="50">
				<h3 class="title tooltip">News 2</h3>
				<span class="date">01 January 2026</span>

				<!-- 3 content -->


				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>


				<!-- 3 content -->

				<button class="popup-button" onclick="openArticle('art3')">Read more →</button>
			</article>
		</li>
	</ul>
</aside>
<button class="button-close board" onclick="closeHeaderSub('wrapper-aside')">
	<span>
		<span class="material-symbols-outlined">
			arrow_forward_ios
		</span>
	</span>
</button>