<img src="/assets/head.webp" alt="minecraft head" width="40px" height="40px">
<p>© 2026 by Guguzin Gamer</p>


<ul id="social-links">
    <li>
        <a href="https://www.youtube.com/@guguzin_gamer" target="_blank" data-name="Youtube" style="--social: #ff0033">
            <i class="fa-brands fa-youtube"></i>
        </a>
    </li>
    <li>
        <a href="https://www.twitch.tv/guguzin_gamer" target="_blank" data-name="Twitch" style="--social: #8e42fe">
            <i class="fa-brands fa-twitch"></i>
        </a>
    </li>
    <li>
        <a href="https://x.com/guguzingamer" target="_blank" data-name="X (Twitter)" style="--social: #000000">
            <i class="fa-brands fa-x-twitter"></i>
        </a>
    </li>
    <li>
        <a href="https://www.instagram.com/guguzingamer/" target="_blank" data-name="Instagram" style="--social: #eb3f95">
            <i class="fa-brands fa-instagram"></i>
        </a>
    </li>
    <li>
        <a href="https://www.tiktok.com/@guguzin.gamer" target="_blank" data-name="TikTok" style="--social: #EE1D52">
            <i class="fa-brands fa-tiktok"></i>
        </a>
    </li>
    <li>
        <a href="https://bsky.app/profile/guguzingamer.bsky.social" target="_blank" data-name="Bluesky" style="--social: #1084fd">
            <i class="fa-brands fa-bluesky"></i>
        </a>
    </li>
</ul>