<header id="header-main" class="scroll">
    <div id="h1" class="sign">
        <img src="/assets/logo.png" alt="coffe">
        <h1 translate="no">Guguzin<br>Gamer's<br>Café</h1>
    </div>
    <p class="sign welcome">Be Welcome!</p>
    <nav>
        <ul>

            <!-- please send help, changing the color of img sucks >:( -->

            <li>
                <a href="/" class="hover" id="homenav">
                    <span translate="no" class="material-symbols-outlined">
                        home
                    </span>
                    <span>Home</span>
                </a>
            </li>
            
            <li>
                <a href="/pages/projects.html" class="hover">
                    <span translate="no" class="material-symbols-outlined">
                        folder_open
                    </span>
                    <span>Projects</span>
                </a>
            </li>

            <li>
                <a href="/pages/about.html" class="hover">
                    <span translate="no" class="material-symbols-outlined">
                        article_person
                    </span>
                    <span>About</span>
                </a>
            </li>

            <li>
                <a href="/pages/news.html" class="hover">
                    <span translate="no" class="material-symbols-outlined">
                        news
                    </span>
                    <span>News</span>
                </a>
            </li>

            <!-- <li>
                <a href="/pages/partner.html" class="hover">
                    <span translate="no" class="material-symbols-outlined">
                        handshake
                    </span>
                    <span>Partner</span>
                </a>
            </li> -->

            <li>
                <a href="/pages/settings.html" class="hover">
                    <span translate="no" class="material-symbols-outlined">
                        settings
                    </span>
                    <span>Settings</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="note">
        <h2>Today's Text</h2>
        <hr>
        <p id="diaryText"></p>
    </div>
</header>
<button class="button-close board" onclick="closeHeaderSub('wrapper-header-main')">
	<span class="material-symbols-outlined">
		arrow_forward_ios
	</span>
</button>