<ul>
	<li class="hs-button">
		<button onclick="activeHeaderSub('wrapper-header-main')">
			<span class="material-symbols-outlined" translate="no">
				arrow_forward_ios
			</span>
		</button>
		<span>Navigation</span>
	</li>

	<li><h2 translate="no">Guguzin's Gamer Café</h2></li>

	<li class="inverted hs-button">
		<button onclick="activeHeaderSub('wrapper-aside')">
			<span class="material-symbols-outlined" translate="no">
                arrow_forward_ios
            </span>
		</button>
		<span>News</span>
	</li>
</ul>