/* --------------- @IMPORT --------------- */

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Petit+Formal+Script&display=swap');

/* --------------- LAYOUT DISPLAY --------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    align-items: start;

    grid-template-rows: 1fr auto;
    grid-template-areas:
    "container"
    "footer";
}

.container {
    grid-area: container;
    display: grid;
    grid-template-columns: 225px 1fr 225px;
    grid-template-areas:
    "header main aside ";
}

header {
    min-height: 92vh;
    max-height: 100vh;
    top: 0;
    position: sticky;
    grid-area: header;
}

main {
    z-index: 2;
    grid-area: main;
}

aside {
    min-height: 92vh;
    max-height: 100vh;
    top: 0px;
    position: sticky;
    grid-area: aside;
}

footer {
    height: 8vh;
    z-index: 3;
    grid-area: footer;
}

/* --------------- FATHER --------------- */

:root {
    /* Background */
    --background: linear-gradient(90deg, #0a0a0a, #131313, #0a0a0a);
    --nav: #100e0a;
    --lighter-nav: #231912;
    --hover-nav: #412312;

    --wood: #9e451b;
    --board: #1c1914;
    --lighter-board: #3d200d;
    
    /* Sign */
    --sign: #4b2814;
    --sign-lighter: #734123;
    --sign-darker: #2d160a;

    /* Border */
    --border: #231916;
    --lighter-border: #7E5D41;
    --hover-border: #281208;
    
    --wooden-border: #733219;

    /* Text Color */
    --emphasized-text: #e6d7af;
    --cozy-text: #ffffff;
    --text: #ffffff;

    /* Fonts */
    --font-text: "Lora", serif;;
    --font-sign: "Petit Formal Script", cursive;
}

body {
    font-family: var(--font-text);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    h1, h2, h3, h4, h5, h6 {
        color: var(--emphasized-text);
    };

    p {
        color: var(--text);
    }
}

/* --------------- TAGS --------------- */

header {
    background-image: var(--background);
    display: flex;
    flex-direction: column;

    gap: 18px;

    > * {
        margin: 0 15px 0 15px;
    }
}

main {
    display: flex;
    flex-direction: column;
    background-color: burlywood;

    padding: 0;
    gap: 0;
}

aside {
    background-image: var(--background);
    display: flex;
    flex-direction: column;
    gap: 18px;

    > * {
        margin: 15px 15px 15px 15px;
    };

    ul {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }
}

footer {
    display: flex;
    align-items: center;

    border-top: 8px ridge var(--wooden-border);
    background-image: var(--background);

    > * {
        margin-left: 12px;
    }
}

nav {
    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 5px;
        
        a {
            display: flex;
            padding: 7.5px;
            gap: 7.5px;

            align-items: center;

            color: var(--emphasized-text);
            text-decoration: none;
            background-color: var(--nav);
            border-radius: 5px;
            border: 2px solid var(--border);

            transition: 0.15s ease;
        };

        a:hover {
            transform: translateX(7px);
            background-color: var(--border);
            /* border-color: var(--hover-border); */
        };

        a:active {
            p {
                transition: 0.15s ease;
                transform: translateY(3px)
            }
        }
    }
}

/* --------------- CLASSES --------------- */

.sign {
    font-family: var(--font-sign);
    font-weight: 400;
    font-style: normal;

    display: flex;

    align-items: center;
    justify-content: center;

    margin: 20px 15px 0 15px;
    padding: 8px 0 8px 0;

    box-shadow:
        inset 2px 2px 1px 0px var(--sign-lighter),
        inset -2px -2px 1px var(--sign-darker);

    background-color: var(--sign);
    color: var(--text);
    border-radius: 10px;

    font-size: 12px;

    div {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
    }

    ::before, ::after {
        content: "";

        position: absolute;
        top: 30px;


        width: 7px;
        height: 7px;

        background: #c49a6c;
        border: 1px solid #5a3825;
        border-radius: 50%;

        box-shadow: inset 1px 1px 2px rgba(255,255,255,.3);
    }

    ::before {
        left: 25px;
    }

    ::after {
        right: 25px;
    }
}

.currentnavbutton {
    background-color: var(--lighter-nav);
    border-color: var(--lighter-border);

    &:hover {
        background-color: var(--lighter-border);
    }
}

.board {
    background-color: var(--board);
    
    padding: 15px 0 15px 0;

    border: 8px ridge var(--wooden-border);
    /* border: 5px solid #391F11; */

    border-radius: 4px;

    display: flex;
    flex-direction: column;

    box-shadow: inset 0px 0px 20px black;

    h1, h2, h3, h4, h5, h6 {
        align-self: center;
    };

    p {
        margin: 5px 10px 0 10px;
    }
}

.centerboard {
    justify-content: center;
    align-items: center;
}

.diary {
    margin-top: auto;
    margin-bottom: 15px;
}

.decoration {
    img {
        width: 100%;
        height: 100px;
        display: block;
    }
}

.content {
    background-color: cadetblue;
    height: 100%
}