aside {
    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 3;

    background-color: var(--background-standard, purple);

    border-left: 4px solid var(--border-wood, purple);

    h2 {
        margin-top: 10px;
        width: 95%;
        padding: 10px 0 10px 0;
    }

    ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
    }

    li {
        margin-top: 12px !important;
    }

    a {
        text-decoration: none;
        display: grid;
        color: var(--text-neutral, purple);

        padding: 0 !important;
        height: 235px;
        grid-template-rows: 111px 26px 64px 18px;
        grid-template-columns: minmax(0, 100%);
        grid-template-areas:
        "banner"
        "name"
        "description"
        "date";

        overflow: hidden;

        width: 196px;

        > .name, .summary, .date {
            margin: 0 10px 0 10px;
        }

        .banner {
            grid-area: banner;
            width: 100%;
            height: 100%;

            border-bottom: 3px solid var(--border-button, purple);
        }
        .name {
            align-self: center;
            grid-area: name;
            color: var(--text-colored, purple);
            width: 165px;

            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .summary {
            grid-area: description;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .date {
            display: flex;
            align-items: center;
            grid-area: date;
        }
        .icon {display: none;}

        &:hover {
            .name {
                text-decoration: underline;
                text-decoration-thickness: 2px;
            }
        }
    }

    .view {
        display: inline;
        margin-top: 20px;
        padding: 10px !important;
        width: max-content;
        min-height: 45px;
        height: 45px;

        margin-bottom: 20px;

        border: 3px solid var(--border-button-selected, purple);
        
        border-radius: 10px;
        background-color: var(--background-button-selected, purple);

        color: var(--text-neutral, purple);
        text-decoration: none;

        overflow: hidden;

        transition: transform var(--transition-standard), box-shadow var(--transition-standard), filter var(--transition-standard);

        &:hover {
            cursor: pointer;
            transform: scale(1.05);
            box-shadow: 10px 10px 12px rgba(0, 0, 0, .5);
            filter: brightness(1.15);
        }
        &:active {
            transform: scale(1);
        }
    }
}

#wrapper-aside .button-close {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;

    border-right: 0 !important;

    right: 225px;

    display: none;

    width: 50px;
    height: 50px;
            
    position: fixed;
    top: 0;

    margin: 0;

    color: var(--text-neutral, purple);

    span {
        transition: color var(--transition-standard), transform var(--transition-standard);
    }

    &:hover {
        cursor: pointer;
        span {
            color: var(--text-colored, purple);
        }
    }
    &:active span {
        transform: scale(.8, .8);
    }
}